div {
    float: left;
    width: 300px;
    height: 200px;
}


p {
  color:blue;
}

#titulo1{
    color: blue
}


h3{
    color: green
}

.mejores {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif
}
